.video-bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

h1,p{
  color: #ffffff !important;
}
/* optional: content readable ठेवण्यासाठी */
body {
  background: transparent !important;
}
/* body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 0;
} */
.container {
  position: relative;
  z-index: 1;
}